<div class="card">
  <div class="profile-picture">
      <img src="../../../assets/fotomia.jpeg" alt="" class="profile-picture-outer-radius">
  </div>

  <div class="infobox">
    <p class="infobox-username" *ngIf="name">{{name}}</p>
    <div class="">
      <p class="infobox-ocupacion" *ngIf="ocupacion">{{ocupacion}}</p>
    </div>

    <div class="clear-float" *ngFor="let strength of strengths">
      <p class="align-left">{{strength.text}}</p><p class="align-right">{{strength.level}}</p>
  </div>

