.container1{
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.container2{
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

.imagen1{
  width: 400px;
  height: 400px;
}

.imagen2{
  width: 500px;
  height: 400px;
}

.imagen3{
  width: 700px;
  height: 400px;
}

.profile-picture-outer-radius {
  width: 158px;
  height: 157px;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  border: 1px solid #949599;
  position: absolute;
}
