<div class="container1">
  <img src="../../../assets/Mapachu.jpg" alt="" class="imagen2">
  <img src="../../../assets/animacionkirby.gif" alt="" class="imagen1">
  <img src="../../../assets/amongusnalgon.jpeg" alt="" class="imagen1">

</div>
<div class="container2">
  <img src="../../../assets/investigacion.png" alt="" class="imagen3">
  <img src="../../../assets/Panavideño.jpg" alt="" class="imagen1">
</div>
